body {
    font-family: Tahoma, Geneva, sans-serif;
    background-color: #ecf0f1;
    color: #2c3e50;
    text-align: center;
}

/* header -> */

h1 {
    letter-spacing: 2px;
    margin: 0;
    margin-top: 1em;
    font-size: 45px;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    margin: 1.5em;

}

.author {
    margin-bottom: 2em;
    color: #95a5a6;
}

/* <- header */

/* section -> */

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
    padding: 20px;
    width: 25%;
    transition: .5s;
}

button:hover {
    transition: .5s;
    opacity: .75;
}


button.main {
    background: #bdc3c7;
    padding: 10px;
}

button.main:before {
    content: '\00ab';
    padding: 10px;
    margin-right: .5em;
}

button.game {
    background: #1abc9c;
}


button.categories, button.category {
    background: #3498db;
}



button.scoreboard, button.score {
    background: #f1c40f;
}

button.category, button.score {
    
        padding: 10px;
    
    }

/* <- section */

/* transitions -> */

#content {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
    animation-play-state
}

@keyframes fadein {
    from { opacity: 0; } to { opacity: 1; }
}

    /* Firefox < 16 */
    @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
    }

    /* Internet Explorer */
    @-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
    }

    /* Opera < 12.1 */
    @-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
    }