<div id="game">
        <div class="legend">
                <button class="category-rand"></button>
                <button class="tries"></button>
                <button class="timer">0 min 0 sec</button>
        </div>
        <button class="hint hide"></button>
        <button class="hint-btn">Show hint</button>
        <div class="guess-area"></div>
        <div class="alphabet"></div>
        <div class="content full-pass-area">
                <input class="full-pass-input" type="text">
                <button type="button" class="submit">Submit full password!</button>
        </div>
</div>