<div id="game">
        <div class="legend">
                <button class="categoryRand"></button>
                <button class="tries"></button>
                <button class="timer">0</button>
        </div>
        <button class="hint hide"></button>
        <button class="hintBtn" onclick="view.active.showHint()">Show hint</button>
        <div class="guessArea"></div>
        <div class="alphabet"></div>
        <div class="content fullPassArea">
                <input class="fullPass" type="text">
                <button type="button" class="submit" onclick="view.active.submitPassword()">Submit full password!</button>
        </div>
</div>